name: Main
on: [push, pull_request]

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: ${{ secrets.AWS_REGION }}
jobs:
  test:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Run lock
      uses: ./
      with:
        name: "${{ github.workflow }}"
        identifier: "${{ github.run_id }}"
    - run: |
        sleep 60
  test2:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Run lock
      uses: ./
      with:
        name: "${{ github.workflow }}"
        identifier: "${{ github.run_id }}"
    - run: |
        sleep 60
  test3:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Run lock
      uses: ./
      with:
        name: "${{ github.workflow }}"
        identifier: "${{ github.run_id }}"
    - run: |
        sleep 60
  test4:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Run lock
      uses: ./
      with:
        name: "${{ github.workflow }}"
        identifier: "${{ github.run_id }}"
    - run: |
        sleep 60
